/*
--------------------------------------------------------------------------------
U.S. Web Design System - Component overrides
--------------------------------------------------------------------------------
Read more about settings and USWDS style tokens in the documentation:
https://designsystem.digital.gov/design-tokens
--------------------------------------------------------------------------------
*/

// Accordion
$theme-accordion-border-width: 2px;

// Button
$theme-button-border-radius: 0;

// Form and input
$theme-checkbox-border-radius: 0;
